/*start header*/
header{
    float:left;
    width:100%;
    position:fixed;
    z-index:999;
    top:0px;
    left:0px;
}
header select{
    float:right;
    width:100px;
    display:none;
    border:1px solid #EBEEF2;
    padding:10px;
    margin:10px 0px;
    background-color: #f9fafc;
    -webkit-appearance: none;
}


.navigationmenulight{
    background-color: rgba(255, 255, 255, 1);	

    -moz-box-shadow: 0 1px 10px #EBEEF2;
    -webkit-box-shadow: 0 1px 10px #EBEEF2;
    box-shadow: 0 1px 10px #EBEEF2;
}
.navigationmenulight select{
    border:1px solid #EBEEF2;
    background-color: #f9fafc;
    color: #5E6D81;
}



.navigationmenudark{
    background-color:#434A54;	
    -moz-box-shadow: 0 1px 10px #434A54;
    -webkit-box-shadow: 0 1px 10px #434A54;
    box-shadow: 0 1px 10px #434A54;
    opacity: 0.8;
}
.navigationmenudark select{
    border:1px solid #55738F;
    background-color: #434A54;
    color: #B3BBC6;
}




.logo{
    margin: -9px 6%;
    float:left;	
}
.leftmenuclose{
    float:left;
    cursor:pointer;	
    position:absolute;
    z-index:1;
}
.leftmenuclose img{
    float:left;	
}
.leftmenuopen{
    width:300px;
    height:100%;
    position:fixed;
    left:-305px;
    z-index:9999;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;		
}

/*start dark version*/
.leftmenuopendark{
    background-color:#434A54;
    -moz-box-shadow: 0 0px 5px #434A54;
    -webkit-box-shadow: 0 0px 5px #434A54;
    box-shadow: 0 0px 5px #434A54;	
}
.leftmenuopendark ul li p{
    color:#fff;
}
.leftmenuopendark ul li p a{
    color:#B3BBC6;
}
.leftmenuopendark .evidenceleftmenu{
    background-color:#4a515b;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.leftmenuopendark .evidenceleftmenu:hover{
    background-color:#434A54;
}
.leftmenuopendark .evidenceleftmenu p{
    color:#FFF;
}
.leftmenuopendark ul li:hover{
    background-color:#4a515b;		
}
.leftmenuopendark ul li{
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;			
}
/*end dark version*/

/*start light version*/
.leftmenuopenlight{
    background-color:#F9FAFC;
    -moz-box-shadow: 0 0px 5px #F9FAFC;
    -webkit-box-shadow: 0 0px 5px #F9FAFC;
    box-shadow: 0 0px 5px #F9FAFC;	
}
.leftmenuopenlight ul li p{
    color:#A9A9A9;
}
.leftmenuopenlight ul li p a{
    color:#A9A9A9;
}
.leftmenuopenlight .evidenceleftmenu{
    background-color:#fff;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.leftmenuopenlight .evidenceleftmenu:hover{
    background-color:#F9FAFC;
}
.leftmenuopenlight .evidenceleftmenu p{
    color:#5E6D81;
}
.leftmenuopenlight ul li:hover{
    background-color:#fff;		
}
.leftmenuopenlight ul li{
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;			
}
/*end light version*/



.leftmenuopen ul{
    margin:0px;
    padding:0px;
    float:left;
    width:100%;
}
.leftmenuopen ul li{
    margin:0px;
    padding:0px;
    float:left;
    width:100%;
}
.leftmenuopen ul li p{
    font-size:15px;
    padding:20px;
}
.leftmenuopen ul li p a{
    background-image:url(../img/header/leftmenuarrow.png);
    background-repeat:no-repeat;
    background-position:right;
    display:block;
    width:100%;
}
.leftmenumore{
    background-image:url(../img/header/leftmenumore.png) !important;		
}
.evidenceleftmenu{
    font-size:17px;
    text-transform:uppercase;
}
.bulletevidenceleftmenu{
    float:right;
    width:6px;
    height:6px;
    border-radius:5px;
    margin:5px 0px 5px 20px;		
}
.titlecloseleftmenu{
    background-color:#f5696c;
    color:#FFF;
    padding:20px;
    background-image:url(../img/header/leftmenuopen.png);
    background-position:right;
    background-repeat:no-repeat;
    cursor:pointer;	
}


/*start footer*/
#footer{
    float:left;
    width:100%;
    background-color:#434a54;

}
.gridfooter{
    padding:50px 10px;
    margin:0px 0px !important;
}
.footerfilter{
    background-color:#4a515b;	
}
#copyright{
    float:left;
    width:100%;
    background-color:#4a515b;
    text-align:center;
}
#copyright p{
    font-size:15px;
    color:#fff;
    margin:10px 0px;
}	
#footer p, #footer h3{
    margin:10px 0px;
    float:left;
    width:100%;
}
#footer p{
    color:#FFF;
}	
.socialfooter img{
    float:left;
    margin:10px 10px 10px 0px;

    opacity: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;	
}
.socialfooter img:hover{
    opacity: 0.7;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.newsletterfooter{
    float:left;
    width:100%;	
    margin:20px 0px;	
}
.newsletterfooter input[type="text"]{
    float:left;
    margin:0px;
    padding:0px 10px;
    border:0px;
    height:40px;
    background-color:#4A515B;
    color:#fff;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(244, 244, 246, 1.0);
    box-shadow: inset 0px 0px 0px 1px rgba(244, 244, 246, 1.0);	
}


.grid_2 .newsletterfooter input[type="text"]{
    width:120px;
}
.grid_3 .newsletterfooter input[type="text"]{
    width:220px;
}
.grid_4 .newsletterfooter input[type="text"]{
    width:320px;
}
.grid_5 .newsletterfooter input[type="text"]{
    width:520px;
}
.grid_6 .newsletterfooter input[type="text"]{
    width:220px;
}


.newsletterfooter input[type="submit"]{
    float:right;
    width:40px;
    height:40px;
    background-color:#1ABC9C;
    cursor:pointer;
    border:0px;	
    font-size:0px;
    margin:0px;
    padding:0px;
    background-image:url(tour/img/footer/newslettersubmit.png);
    background-repeat:no-repeat;
}

.backtotop{
    float:right;
    background-color:#434A54;
}
.backtotop img{
    padding:24px;
    float:left;	
}



#tweets {
    float:left;
    width: 100%;
}
#tweets-wrapper {
    float:left;
    width: 100%;
}
#tweets-wrapper div.tweet a {
    color: #1bbc9b;
}
#tweets-wrapper div.tweet-actions, .tweet small{
    display:none;
}
#tweets .tweet{
    float:left;
    width: 100%;
    margin:10px 0px;
    color:#fff;
}
/*end footer*/
/*1200 Grid*/
.grid_3{
    margin:10px;
    float:left;	
    display:inline;

}


.grid_3 {width:280px;}

.myfoot {
    position: relative;
    width: 500px;
}
.myfoot div {
    height: 300px;
}

.column-left {
    width: 33%;
    margin-left: 220px;


}
.column-center {
    width: 34%;

    margin-left: 33%;
    position: absolute;
}
.column-right {
    width: 33%;
    right: 0;
    position: absolute;

}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0.0; }
}
/*opacity*/

#counter-visitor {
    position: absolute;
    width: auto;
    height: auto;
    top: -150px;
    right: -100px;
    z-index: 102;
    font-size: 14px;
    color: black;
    background-color: #FFD800;
    font-family: BernardoModaSemibold;
}

.tg td{font-family:Roboto;font-size:14px;padding:10px 5px;overflow:hidden;word-break:normal;}
.tg th{font-family:Roboto;font-size:14px;font-weight:normal;padding:10px 5px;overflow:hidden;word-break:normal;}
.tg .tg-tskx{background-color:#ffcb2f;color:#000000;vertical-align:top}
.tg .tg-ds4c{background-color:#000000;color:#ffffff;vertical-align:top}
/*end hover effect*/