/*start header*/
header{
	float:left;
	width:100%;
	position:fixed;
	z-index:999;
	top:0px;
	left:0px;
}
header select{
	float:right;
	width:100px;
	display:none;
	border:1px solid #EBEEF2;
	padding:10px;
	margin:10px 0px;
	background-color: #f9fafc;
	-webkit-appearance: none;
}


.navigationmenulight{
	background-color: rgba(255, 255, 255, 1);	
	
	-moz-box-shadow: 0 1px 10px #EBEEF2;
	-webkit-box-shadow: 0 1px 10px #EBEEF2;
	box-shadow: 0 1px 10px #EBEEF2;
}
.navigationmenulight select{
	border:1px solid #EBEEF2;
	background-color: #f9fafc;
	color: #5E6D81;
}



.navigationmenudark{
	background-color:#434A54;	
	-moz-box-shadow: 0 1px 10px #434A54;
	-webkit-box-shadow: 0 1px 10px #434A54;
	box-shadow: 0 1px 10px #434A54;
        opacity: 0.5;
}
.navigationmenudark select{
	border:1px solid #55738F;
	background-color: #434A54;
	color: #B3BBC6;
}




.logo{
	margin: -9px 0px;
	float:left;	
}
.leftmenuclose{
	float:left;
	cursor:pointer;	
	position:absolute;
	z-index:1;
}
.leftmenuclose img{
	float:left;	
}
.leftmenuopen{
	width:300px;
	height:100%;
	position:fixed;
	left:-305px;
	z-index:9999;
	
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;		
}

/*start dark version*/
.leftmenuopendark{
	background-color:#434A54;
	-moz-box-shadow: 0 0px 5px #434A54;
	-webkit-box-shadow: 0 0px 5px #434A54;
	box-shadow: 0 0px 5px #434A54;	
}
.leftmenuopendark ul li p{
	color:#fff;
}
.leftmenuopendark ul li p a{
	color:#B3BBC6;
}
.leftmenuopendark .evidenceleftmenu{
	background-color:#4a515b;
	
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
.leftmenuopendark .evidenceleftmenu:hover{
	background-color:#434A54;
}
.leftmenuopendark .evidenceleftmenu p{
	color:#FFF;
}
.leftmenuopendark ul li:hover{
	background-color:#4a515b;		
}
.leftmenuopendark ul li{
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;			
}
/*end dark version*/

/*start light version*/
.leftmenuopenlight{
	background-color:#F9FAFC;
	-moz-box-shadow: 0 0px 5px #F9FAFC;
	-webkit-box-shadow: 0 0px 5px #F9FAFC;
	box-shadow: 0 0px 5px #F9FAFC;	
}
.leftmenuopenlight ul li p{
	color:#A9A9A9;
}
.leftmenuopenlight ul li p a{
	color:#A9A9A9;
}
.leftmenuopenlight .evidenceleftmenu{
	background-color:#fff;
	
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
.leftmenuopenlight .evidenceleftmenu:hover{
	background-color:#F9FAFC;
}
.leftmenuopenlight .evidenceleftmenu p{
	color:#5E6D81;
}
.leftmenuopenlight ul li:hover{
	background-color:#fff;		
}
.leftmenuopenlight ul li{
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;			
}
/*end light version*/



.leftmenuopen ul{
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
}
.leftmenuopen ul li{
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
}
.leftmenuopen ul li p{
	font-size:15px;
	padding:20px;
}
.leftmenuopen ul li p a{
	background-image:url(../img/header/leftmenuarrow.png);
	background-repeat:no-repeat;
	background-position:right;
	display:block;
	width:100%;
}
.leftmenumore{
	background-image:url(../img/header/leftmenumore.png) !important;		
}
.evidenceleftmenu{
	font-size:17px;
	text-transform:uppercase;
}
.bulletevidenceleftmenu{
	float:right;
	width:6px;
	height:6px;
	border-radius:5px;
	margin:5px 0px 5px 20px;		
}
.titlecloseleftmenu{
	background-color:#f5696c;
	color:#FFF;
	padding:20px;
	background-image:url(../img/header/leftmenuopen.png);
	background-position:right;
	background-repeat:no-repeat;
	cursor:pointer;	
}





/*opacity*/


/*end hover effect*/